body {
    font-family: "Times New Roman", Times, serif
    font-size: 1em;
    color: #fff;
    background-image: url(../images/alphabet.jpg); /* image from PEXELS https://www.pexels.com/photo/alphabet-close-up-communication-conceptual-278887/ */
    background-size: cover;
}

* {
    box-sizing: border-box;
}

header.header {
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
    text-align: center;
    clear: both;
}

h1, #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    color: #000;
    font-size: 2em;
    padding: .5em;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
}


/* directions to play game */

article.directions {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    background: #4aaaa5;
    padding: .5em;
    line-height: 1.5em;
    text-align: center;
    clear: both;
    border: .2em groove #fff;
}

p.italic {
    font-style: italic;
}

/* content of the game */

section.game {
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
    max-width: 80%;
    padding: .7em;
    line-height: 1.5em;
    background-image: url(../images/seigaiha.png);
    color: #000;
	border: .2em solid #4aaaa5;
	opacity: 0.9;
}

p.guess {
	text-align: center;
	font-weight: 900;
}